body{
    margin: 0;
    background-image: url(Fundo\ Inicial.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
    background-color: #1C263B;
    font-family: "Nanum Myeongjo", serif;
}
#main{
    width: 140%;
    height: 100vh;
}
header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 1%;
    margin-top: 1%;
}
header li{
    display: inline-block;
    margin-right: 15px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 200;
}
header a{
    text-decoration: none;
    color: white;
}
main{
    width: 71.4%;
    margin-top: 5%;
    text-align: center;
}
#main-container{
    margin-top: 10%;
    font-weight: 32;
    display: flex;
}
main h1{
    margin-top: 0%;
    font-family: "Italiana", sans-serif;
    font-size: 550%;
    font-weight: 96;
}
#main-pictures{
    display: flex;
    margin-top: -7%;
    height: 48vh;
    width: 150%;
}

.carousel-container {
    margin-left: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: 1s ease-in-out;
}

.slide {
    width: 100%;
    height: 50vh;
    transition: 1s ease-in-out;
    opacity: 1;
    display: none;
}
.slide div{
    width: 600px;
    height: 100vh;
}
.slide h1{
z-index: 99;
}
.slide.active {
    opacity: 0;
    display: block;
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
}

.prev {
    left: 10px;
    background-color: #2e4053;
    background-repeat: no-repeat;
    width: 7%;
    margin-top: 5%;
    margin-left: 15%;
    background-size: cover;
}

.next {
    right: 10px;
    background-color: #2e4053;
    background-repeat: no-repeat;
    width: 7%;
    margin-top: 5%;
    margin-right: 15%;
    background-size: cover;
}

.projects-picture{
    margin-left: 10%;
    width: 55%;
    height: 50vh;
    background-color: #818181;
}
.projects-picture a{
    margin-left: 12%;
    width: 55%;
    height: 50vh;
    background-color: #818181;
}
main p{
    font-family: "Inria Serif", serif;
    font-size: 150%;
    margin-top: -2%;
    font-weight: 32;
}

footer{
    position: absolute;
    margin-left: 5%;
}
footer svg{
    fill: white;
    margin-top: 12%;
    width: 5%;
    margin-left: 3%;
}

.sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 150px;
    height: 100%;
    background-color: #333;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

.sidebar ul li:hover {
    background-color: #575757;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 30px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .titulo{
        margin-top: -10%;
        font-size: 300%;
    }
    .sidebar{
        background-image: url(menu\ lateral\ celular.png);
        background-size: contain;
    }
    header li{
        opacity: 0;
    }
    #menuToggle:checked + .menu-icon + #menu {
        left: 0;
    }
    label svg{
        width: 7%;
        margin-top: 5%;
    }
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        background-image: url('fundo\ inicial\ celular.png');
        background-size: cover;
    }
    main{
        text-align: left;
        margin-left: 10%;
        margin-top: 30%;
    }
    #main{
        width: 100%;
    }
    header ul {
        display: flex;
        left: -100%;
    }
    .carousel-container {
        width: 120%;
        margin-top: -90%;
        margin-left: -10%;
}
    .slide { 
        height: 20vh;
        width: 70%;
    }
    .slide div{
        width: 200%;
    }
    .prev {
        background-size: cover;
        opacity: 10;
        margin-top: -2.5%;
        margin-left: -0%;
    }
    .prev img{
        width: 300%;
        opacity: 10;
    }
    .next {
        margin-right: 30%;
        margin-top: -2.5%;
    }
    .next img{
        width: 300%;
        opacity: 10;
    }
    .projects-picture{
        width: 150%;
        height: 15vh;
    }

    #main-container{
        margin-top: 50%;
        width: 100%;
        margin-left: -5%;
    }
    #main-pictures{
        width: 100%;
    }
    .menu-toggle:checked + .menu-icon + #menu {
        left: 0;
    }
    .btn-seta-esquerda{
        background-size: contain;
        width: 40%;
        margin-top: 20%;
    }
    .carousel-container {
        margin-left: 10%;
        
    }
    .carousel-container h1{
        opacity: 0;
    }
    .btn-seta-direita{
        width: 40%;
        background-size: contain;
        margin-top: 20%;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
        z-index: 1001;
    }
    footer{
        margin-top: -60%;
    }
    #footer-end svg{
        width: 10%;
    }
    .menu-icon img {
        width: 30px;
        height: 30px;
    }
    #menuToggle:checked + .menu-icon {
        z-index: 1002;
    }
}